/*-----------
	Genereal style
---------*/
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}

section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}

/* navbar style */


.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}


.navbar-inverse .navbar-brand {
color: yellow;
}
.navbar-inverse .navbar-toggle {
border-color: #FAFAFF;
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus{
		background-color:red;
	}
}

/*subNav hover color*/
.dropdown-menu > li > a:hover{
	background-color:lightblue;
}

.navbar-right .dropdown-menu {
	right: auto;
	left: 0;
}
.navbar-inverse {
	background-color: #00008B;
	border-color: #00008B;
}

/* Added padding in Navbar*/


.navbar {
    padding:20px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* class for removing padding in Navbar*/


.navbar-pad-original {
      padding:0px;
}



/* Caruosel style or slideshow style*/

#slider{
	margin-top: 40px;
}
	


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*projects list*/

#projects .project img{
	height:185px;
	width:250px;
}
#projects .project a:hover{
	text-decoration:none;
}
#projects .project h4{
	padding-top:5px;
}
#projects .project p{
	line-height: 1.5;
	padding-top:10px;
}
#projects .project a h4,
#projects .project a p{
	color:black;
	max-width:293px;
	margin:0 auto;
}
#projects .project{
	padding-top:20px;
}

/*teamInfo section style*/
#teamInfo  img{
	width:200px;
	height:240px;
}
#teamInfo p{
	line-height: 1.5;
	padding-top:10px;
}
/*quotes section style*/
.quotes-sec {
     padding-bottom:50px;
    background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}

/* FOOTER STYLE*/


#footer-sec {
    background-color:#000;
    color:#808080;
}
#footer-sec h4 {
    text-transform:uppercase;
    color:#fff;
}
#footer-sec .copy-right{
	text-align:center;
}
/*properties List*/
#properties .property{
	margin-top:20px;
	margin-bottom:10px;
	position:relative;
}
#properties .property h4{
	background-color: rgb(83, 83, 150);
	color: white;
	text-align: center;
	margin-top: 0px;
	line-height: 46px;
}
#properties .property .list-detail-icon{
	font-size: 24px;
	color: #67676D;
	margin-left:5px;
}
.sold:after {
    content: url(/img/sold.png);
    position: absolute;
    left: 0;
    top: 0;
}
/*property*/
#property .page-images-slider img{
		width: 560px;
		height: 400px;
}

@media screen and (max-width: 770px){
	#property .page-images-slider img{
		width: 118px;
		height: 148px;
}
}
#property #property-detail .list-detail-icon{
	font-size: 24px;
	color: #67676D;
	margin-left:5px;
}
#property #property-detail .description{
	border-color: rgb(209, 48, 48);
	border-top-width: 5px;
	border-top-style: outset;
	padding-top: 20px;
}
#property #property-detail .description,
#property #property-detail .feature{
	font-family: Museo-Sans-300,Helvetica,arial,sans-serif;
	color: #333f48;
	font-size: 16px;
	line-height: 1.5;
}


/*News styles*/
#newsList{
	padding-top 50px;
}

#newsList .content a:hover{
	text-decoration:none;
	color:blue;
}
#newsList .content .title{
	width: 470px;
	font-size: 24px;
	font-weight: bold;
	color: black;
	line-height: 29px;
	height: auto;
	display:block;
}
#newsList .content .author{
	float:left;
	font-weight:bold;
}
#newsList .content .date{
	float:right;
	font-weight:bold;
}

#newsList .content .summary{
	width: 470px;
	float:left;
	clear:both;
	line-height:18px;
	height:auto;
}

@media screen and (min-width: 992px){
	#newsRightBar{
		padding-top:100px;
	}
}
@media screen and (max-width: 767px){
	#newsList .content .title,
	#newsList .content .summary{
		width:auto;
	}
}

/*NewsRightBar*/
#newsRightBar  ul{
	list-style-type: initial;
}
#newsRightBar ul li{
	padding-bottom:10px;
}

/*CONTACT STYLES*/
#contactUs{
	padding-top:50px;
	padding-bottom:30px;
}

#contactUs #methods .address p{
	font-size:15px;
}
#contactUs #methods .address h4,
#contactUs #methods .address p,
#contactUs #methods .phone h4,
#contactUs #methods .phone p,
#contactUs #methods .email h4,
#contactUs #methods .email p{
	display:inline;
}
#contactUs #methods .label{
	white-space: normal;
	margin-top:10px;
}
#contactUs #methods .address div,
#contactUs #methods .phone div,
#contactUs #methods .email div{
	text-align:left;
	padding-top:15px;
	padding-bottom:15px;
}
#contactUs #methods .phone p{
	font-size: xx-large;
	margin-left: 20px;
	color: white;
}
#contactUs #methods .email p{
	font-size: 15px;
	margin-left: 20px;
	color: white;
}

#contactUs #methods img{
	margin:0 auto;
	display:block;
	border: 2px solid #a1a1a1;
}

#contactUs #contactForm{
	margin-top:10px;
	padding-top:20px;
	padding-bottom:20px;
	background-color:lightblue;
	color:white;
}
#contactUs #contactForm h2{
	text-align:center;
}

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}

/*Login*/
#login{
	padding-top:50px;
	padding-bottom:70px;
}


   